:root {
    --light-grey: #F6F6F6;
    --orange-juice: #FF6600;
    --white: #FFFFFF;
    --dark-grey: #2D2D2D;
    --grey: #808080;
    --blueberry: #8A38D6;
    --gradient: linear-gradient(90deg, #FF6600 0%, #F26659 27%, #F06177 37%, #E55D97 48%, #CA46D2 71%, #8D13F9 100%);
    --grey2: #C0C0C0;
    --drop-shadow: drop-shadow(0px 4px 4px #000000);
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

h1,
h2 {
    font-family: 'Montserrat';
    letter-spacing: 0%;
}

h1 {
    font-size: 80px;
    line-height: 80px;
}

h2 {
    font-size: 48px;
    line-height: 52px;
}

h3 {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 400;
}

.txt {
    font-family: 'Inter';
    font-size: 24px;
    letter-spacing: .55px;
    font-weight: 400;
}

button {
    width: 100%;
    height: 72px;
    border: none;
    border-radius: 20px;
    background-color: var(--orange-juice);
    color: var(--white);
    cursor: pointer;
    font-family: 'Inter';
    font-size: 24px;
    letter-spacing: 0%;
    font-weight: 600;
    text-transform: uppercase;
}

button:hover {
    filter: var(--drop-shadow);
}

.container {
    padding: 0 70px;
    max-width: 1920px;
    margin: 0 auto;
}

.gradient-price {
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.orange {
    color: var(--orange-juice)
}

/* Header */

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding-top: 6px;
    height: 82px;
    background-color: var(--dark-grey);
    border-radius: 0 0 40px 40px;
    filter: var(--drop-shadow);
}

.header__inner {
    padding: 0 30px 0 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 70px;
}

.header__links {
    margin-left: 74px;
    display: flex;
    flex-direction: row;
    column-gap: 60px;
}

.header__link>a {
    color: var(--white);
    letter-spacing: 4%;
}

.header__link>a:hover {
    color: var(--grey);
}

.header__contact {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

.header__contact_link {
    color: var(--white);
}

.phone-link {
    letter-spacing: 4%;
}

.burger {
    display: none;
    cursor: pointer;
}

.mobile__menu {
    padding: 60px 0;
    margin-top: -40px;
    display: none;
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.3s ease-in-out;
    border-radius: 0 0 20px 20px;
}

.mobile__social {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header__links_mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.header__contact_mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.header__contact_mobile>.header__contact_link>h3 {
    font-size: 20px !important;
}


.hidden {
    display: none;
}

.second__section,
.price,
.add-service,
.clients,
.feedback,
.conveer,
.registration,
.howItWorks,
.videoPresentation,
.whyUs,
.faq,
.buyLeads,
.contacts {
    padding-top: 120px;
}

/* main section */
.main__section {
    padding-top: 140px;
    background-color: var(--light-grey);
    border-radius: 0 0 40px 40px;
}

.main__section_inner {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(720px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.main__section_text {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 801px;
}

.main__section_text-header {
    padding-top: 20px;
}

.main__section_text-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    letter-spacing: 1.18px;
}

.main__section_text-info>h3 {
    display: block;
    max-width: 65%;
}

.main__section_text-emodji {}


.main__section_logo {}

.main__section_logo>img {
    max-width: 100%;
}

.main__section_tabs {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main__section_tab {
    height: 88px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 8px 8px 0 0;
    font-family: 'Inter';
    font-size: 20px;
    color: var(--grey);
}

.main__section_tab>a {
    display: block;
    text-align: center;
}

/* second section */

.second__section>h2 {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 40px;
}

.second__section_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 20px;
}

.second__section_card {
    background-color: var(--light-grey);
    border-radius: 22px;
    display: flex;
    flex-direction: row;
}

.second__section_card-wrapper {
    padding: 60px 0 0 40px;
}

.second__section_card-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 20px;
}

.second__section_card-text {}

.second__section_card-image {}

/* Price */

.price__title {
    text-align: center;
    max-width: 784px;
    margin: 0 auto;
}

.price__subtitle {
    margin: 20px auto 60px;
    text-align: center;
    max-width: 1088px;
    color: var(--grey);
    letter-spacing: 1.2px;
}

.price__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
    gap: 20px;
}

.price__grid_card {
    background-color: var(--light-grey);
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.price__grid_card:hover {
    filter: var(--drop-shadow);
}

.grid_card-tarif {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
}

.tarif_name {
    border: 1px solid var(--dark-grey);
    border-radius: 20px;
    padding: 10px 20px;
}

.tarif_star {
    height: 56px;
    width: 56px;
    background-image: url('../img/emodji/Star\ 1.png');
}

.grid_card-title {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Montserrat';
    color: var(--dark-grey);
    margin-bottom: 20px;
}

.gradient-price {}

.grid_card-text {
    color: var(--grey);
    margin-bottom: 30px;
}

.grid_card-list>li {
    margin-bottom: 20px;
}

.grid_card-list>li::before {
    content: url('../img/emodji/check_mark_dark.svg');
    padding: 20px;
}

.active_card {
    background-color: var(--dark-grey);
    color: var(--white);
}

.active_card .tarif_name {
    border-color: var(--white);
}

.active_card .tarif_star {
    background-image: url('../img/emodji/Star\ 1_white.svg');
}

.active_card .grid_card-title {
    color: var(--white);
}

.active_card .grid_card-list>li::before {
    content: url('../img/emodji/check_mark_white.svg');
}

/* add-service */

.add-service__title {
    text-align: center;
}

.add-service__grid {
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 730px));
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.add-service__grid_card {
    padding: 40px;
    border-radius: 40px;
    position: relative;
    background-color: var(--light-grey);
}

.add-service__grid_card-title {
    font-family: 'Montserrat';
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.add-service__grid_card-price {
    margin-bottom: 30px;
}

.add-service__grid_card-price>span {
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 700;
}

.add-service__grid_card-star {
    position: absolute;
    top: 40px;
    right: 40px;
    height: 48px;
    width: 48px;
    background-image: url('../img/emodji/Star\ 4.svg');
}

/* Clients */

.clients__title {
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
}

.clients__subtitle {
    text-align: center;
    max-width: 637px;
    margin: 20px auto 0;
    color: var(--grey);
    letter-spacing: 1.2px;
}

.clients__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    margin-top: 40px;
    gap: 20px;
}

.clients__grid_card {
    background-color: var(--light-grey);
    border-radius: 30px;
    height: 200px;
    align-content: center;
}

.clients__grid_card>img {
    display: block;
    margin: 0 auto;
}

/* Feedback */

.feedback {}

.feedback__title {
    text-align: center;
}

.feedback__subtitle {
    text-align: center;
    color: var(--grey);
    max-width: 791px;
    margin: 20px auto 0;
    letter-spacing: 1.2px;
}

.feedback__grid1 {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: 20px;
}

.feedback__grid1_card {
    background-color: var(--light-grey);
    border-radius: 30px;
    padding: 40px;
}

.feedback__grid1_card-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
}

.rating_number {
    font-family: 'Montserrat';
    font-size: 36px;
    line-height: 52px;
    font-weight: 700;
}

.rating_stars {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.rating_stars>img {
    height: 49px;
    width: 49px;
    transform: rotate(-15deg);
}

.feedback__grid1_card-text {
    margin-top: 23px;
}

.feedback__grid1_card-type {
    margin-top: 20px;
    color: var(--grey);
    max-width: 316px;
}

.feedback__grid_videos {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
    gap: 20px;
}

.feedback__grid_videos_card {}

.video-replace {
    background-color: var(--dark-grey);
    border-radius: 40px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-replace_button {
    height: 70px;
    width: 70px;
    transform: translate(25%, 5%);
}

.feedback__grid_videos_card-text {
    margin-top: 12px;
}

/* Conveer */

.conveer__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
    justify-content: center;
    gap: 60px;
    padding: 0 150px;
}

.conveer__image {
    position: relative;
    height: 515px;
}

.conveer__image_main {
    position: absolute;
    top: 0;
    right: 18px;
}

.conveer__image_main>img {
    width: 100%;
}

.conveer__image_star-top {
    position: absolute;
    width: 72px;
    height: 72px;
    transform: rotate(-23deg);
    top: 12px;
    left: -62px;
}

.conveer__image_star-bottom {
    position: absolute;
    width: 57px;
    height: 57px;
    bottom: 10px;
    right: 45px;
}

.conveer__info {
    max-width: 750px;
    margin-left: -16px;
}

.conveer__info_title-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.conveer__info_title {
    max-width: 434px;
    margin-bottom: 20px;
}

.conveer__info_title>img {
    height: 60px;
    width: 60px;
}

.conveer__info_text {
    margin-bottom: 20px;
    letter-spacing: .55px;
}

/* registration */

.registration__wrapper {
    background-color: var(--dark-grey);
    color: var(--white);
    border-radius: 40px;
    padding: 60px 120px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 180px;
}

.registration__info {}

.registration__info_title {
    margin-top: 42px;
}

.registration__info_button {
    margin-top: 40px;
}

.registration__image {
    position: relative;
}

.registration__image_main {
    left: 78px;
    width: 100%;
    max-width: 683px;
}


.registration__image_star {
    position: absolute;
    z-index: 10;
    height: 88px;
    width: 89px;
    transform: rotate(62deg);
    bottom: 0;
    left: 0;
}

/* howItWorks */

.howItWorks {}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.howItWorks__slide {
    box-sizing: border-box;
    background-color: var(--light-grey);
    border-radius: 40px;
    padding: 80px 150px;
    min-height: 628px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.howItWorks__slide_header {
    text-align: center;
}

.howItWorks__slide_grid {
    display: grid;
    gap: 91px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.howItWorks__slide_main {}

.slide_main-top {
    display: flex;
    flex-direction: row;
    gap: 40px;

}

.slide_main-bottom {
    margin-top: 30px;
    text-align: left;
}

.howItWorks__slide_info {}

.slide_info-text>li {
    margin-top: 20px;
}

.swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    height: 30px;
    bottom: 60px;
    left: 50%;

}

.swiper-pagination-bullet {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #DBDBDB;
}

.active_bullet {
    background-color: var(--orange-juice);
}

/* videoPresentation */

.videoPresentation_wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.videoPresentation_title {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.videoPresentation_title>img {
    display: block;
}

.videoPresentation_video {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    aspect-ratio: 20/9;
}

/* whyUS */

.whyUs {}

.whyUs__title {
    text-align: center;
    max-width: 615px;
    margin: 0 auto;
}

.whyUs__subtitle {
    color: var(--grey);
    margin: 20px auto 0;
    max-width: 885px;
    text-align: center;
}

.whyUs__grid_nums,
.whyUs__grid_emodjies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.whyUs__grid_nums {
    margin-top: 40px;
}

.whyUs__grid_nums-card,
.whyUs__grid_emodjies-card {
    background-color: var(--light-grey);
    border-radius: 40px;
}

.whyUs__grid_nums-card {
    padding: 40px;
}

.whyUs__grid_nums-card_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.whyUs__grid_nums-card_top>h1 {
    padding-top: 5px;
}

.whyUs__grid_nums-card_top>img {
    transform: rotate(-28deg);
}

.whyUs__grid_nums-card_bottom {
    margin-top: 12px;
}

.whyUs__grid_emodjies {
    margin-top: 27px;
}

.whyUs__grid_emodjies-card {
    padding: 30px;
}

.whyUs__grid_emodjies-card_top {}

.whyUs__grid_emodjies-card_text {
    margin-top: 20px;
    max-width: 280px;
    color: var(--grey);
}

/* registration 2 */
.registration__image_main-second {
    width: 100%;
    max-width: 683px;
}

.registration__image_star-top {
    position: absolute;
    top: 5px;
    left: 35px;
    height: 70px;
    width: 68px;
    transform: rotate(-12deg);
}

.registration__image_star-bottom {
    position: absolute;
    bottom: 35px;
    right: 15px;
    height: 68px;
    width: 66px;
    transform: rotate(-35deg);
}

/* FAQ */

.faq {}

.faq__title {
    text-align: center;
}

.faq__grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(720px, 1fr));
    gap: 21px;
}

.faq__grid_accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    cursor: pointer;
    width: 100%;
    /* text-align: left; */
    border: 1px solid var(--light-grey);
    border-radius: 30px;
    /* outline: none; */
    transition: 0.4s;
}

.accordion>p {
    margin: 0;
}

.accordion>.btn {
    height: 50px;
    width: 50px;
}

.btn {
    position: relative;
}

.horizontal {
    position: absolute;
    top: 50%;
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--grey);
}

.vertical {
    position: absolute;
    right: 50%;
    display: block;
    height: 100%;
    width: 3px;
    background-color: var(--grey);
}

.hidden-line {
    display: none;
    width: 0;
}

.orange-line {
    background-color: var(--orange-juice);
}


.active {
    border-color: var(--grey);
}

.accordion:hover {
    border-color: var(--orange-juice);
}

.panel {
    margin: 20px 0 25px;
    padding: 40px;
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 30px;
    display: none;
    overflow: hidden;
}

.faq__grid_image>img {
    width: 100%;
    max-width: 879px;
}

/* buyLeads */

.buyLeads {}

.buyLeads__grid {
    padding: 0 148px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
}

.buyLeads__main {}

.buyLeads__main_title {}

.orange {}

.buyLeads__main_image {}

.buyLeads__main_button {
    margin-top: 59px;
}

.buyLeads__text p {
    margin-bottom: 20px;
}

.buyLeads__text {
    position: relative;
}

.buyLeads__text_main {}

.buyLeads__text_additional {
    display: none;
}

.buyLeads__text_toggler {
    text-decoration: underline;
    color: var(--grey);
    cursor: pointer;
}

.buyLeads__text_toggler:hover {
    color: var(--orange-juice)
}

.buyLeads_star {
    position: absolute;
    top: 0;
    right: -80px;
    transform: rotate(-30deg);
}

.buyLeads_star>img {
    height: 57px;
    width: 57px;

}

/* Contacts */
.contacts {}

.contacts__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(720px, 1fr));
    background-color: var(--light-grey);
    gap: 20px;
    border-radius: 40px;
}

.contacts__grid_info {
    padding: 80px 60px 80px 80px;
}

.contacts__title {
    text-align: center;
}

.contacts__subtitle {
    color: var(--grey);
    margin: 20px 0 60px;
    text-align: center;
}

.contacts__block {
    margin-top: 30px;
}

.contacts__block_name {
    color: var(--grey);
}

.contacts__block_value {}

.contacts__social {
    color: var(--grey);
    margin-top: 30px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    max-width: 80%;
}

.contacts__social>img {
    height: 64px;
    width: 64px;
}

.contacts__grid_image>img {
    width: 100%;
}

/* Footer */
.footer {
    margin-top: 120px;
    color: var(--white);
    background-color: var(--dark-grey);
    border-radius: 40px 40px 0 0;
}

.footer__inner {
    text-align: center;
    padding: 80px 0;
}

.footer__main_text {
    letter-spacing: 1.1px;
}

.footer__additional_text {
    margin: 20px auto 40px;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.footer__link {
    padding: 0 5px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: var(--grey);
    border-right: 2px solid var(--grey);
}

.footer__link:last-child {
    border: none;
}
